/* Font personnalisé "Francois One" */
@font-face {
    font-family: "Francois One";
    src: url('fonts/FrancoisOne.ttf');
}
@font-face {
    font-family: "Francois One";
    src: url('fonts/FrancoisOne.ttf');
    font-style: italic;
}

@font-face {
    font-family: "Francois One";
    src: url('fonts/FrancoisOne.ttf');
    font-weight: bold;
}

/* Override Bootstrap CSS.*/
html {
    position: relative;
    min-height: 100%;
}

body {

    margin-bottom: 60px;     /* Margin bottom pour la hauteur du footer */
    background:rgba(223, 233, 255, 0.100);
}

nav {
    font-family:"Francois One";
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

img {
    height:auto;
    max-width: 100%;
}

/* Nav */


.nav-logo img {
    height:30px;
}

.barre-menu{
    border-top: 2px rgba(99, 158, 209, 0.75) dotted;
    border-bottom: 3px rgba(255, 131, 0, 1) solid;
}
.container{
}
.barre{
    background: -webkit-linear-gradient(#b5d9f1, #337ab7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#b5d9f1, #337ab7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#b5d9f1, #337ab7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#b5d9f1, #337ab7); /* Standard syntax */
}
.before-search{
    padding-right:50px;
}

#form-menu{
    padding-top:10px;
    min-width:500px;
}

.search {

    display: inline;
    min-width:500px;
    color:#fff;
    background:rgba(0,0,0,0.10);
    border: 1px solid rgba(255, 131, 0, 1);
    border-radius: 25px;

}

.search::-webkit-input-placeholder { color: white; }
.search:-moz-placeholder { color: white; }
.search::-moz-placeholder { color: white; }
.search:-ms-input-placeholder { color: white; }

.navbar-inverse .navbar-nav>li>a {
    color:#fff;

}

.navbar-inverse .container {
    width: auto;
}

.navbar-default {
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
}

.navbar-default2 {
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.nav .navbar-nav {
    margin-left: auto;
    margin-right: auto;
    padding:0;
    max-width: 1200px;
}

.barre-principale {
    font-size: 20px;
    max-height: 100%;
    background: -webkit-linear-gradient(#b5d9f1, #337ab7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#b5d9f1, #337ab7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#b5d9f1, #337ab7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#b5d9f1, #337ab7); /* Standard syntax */
}

.navbar-default {
    color:#ffffff;
    background-color:#337ab7;
}
.navbar-default a {
    color:#ffffff;
}
.fa .fa-home {
    font-size: 15px;
}
.barre-menu {
    background:#337ab7;
}
.barre-menu ul li {
    color:#ffffff;
}


/*Member connection*/
.member-info {
    border-radius: 30px;
    margin: 5px;
    padding: 20px;

    color:#ffffff;
    background:rgba(0,0,50,0.30);
    width:300px;
    height:150px;
    float:right;
    text-transform: none;
}
.member-info-pseudo {
     font-size:20px;
 }

.member-msg-info {
    display: block;
    font-size:14px;
}

.dropdown a {
    text-transform: none;
    width:75px;
    display: block;
}
.member-info-profil-img{
    border-radius: 5px;
    border: 1px solid grey;
    height:50px;
    display: inline-block;
    margin:2px;
}
.menu-phone {
    position : absolute;
    float: left;
}

/* Contenu principal */
.container-fluid {
    max-width: 1200px;
    margin-bottom: 100px;
}
/* Sidebar */
.sidebar:first-child{
    padding-top: 50px;
}
.sidebar {
    border-radius: 25px 25px;
    border: #337ab7 1px solid;
    font-size:16px;
    background:rgba(0,0,0,0.05);
    padding: 20px;
    margin:auto;
    margin-bottom: 10px;
    color:#000000;
}


/* sticky weekee footer. */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color:#333333;
    color: #ffffff;
}

.footer p {
    font-size: 14px;
    color: #fff;
}

.container .text-muted {
    margin: 10px 0;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.footer_pages_links{
    top:0;
}
.footer_pages_links li {
    color: #ffffff;
    top:0;
    display: inline-block;
}
.footer_pages_links li {
    padding-left: 30px;
    top:0;
    display: inline-block;
}