

.A { float:left;background:#aaa url(c64charset.gif) no-repeat -16px -64px scroll; width:16px; height:16px; }
.B { float:left;background:#aaa url(c64charset.gif) no-repeat -32px -64px scroll; width:16px; height:16px; }
.C { float:left;background:#aaa url(c64charset.gif) no-repeat -48px -64px scroll; width:16px; height:16px; }
.D { float:left;background:#aaa url(c64charset.gif) no-repeat -64px -64px scroll; width:16px; height:16px; }
.E { float:left;background:#aaa url(c64charset.gif) no-repeat -80px -64px scroll; width:16px; height:16px; }
.F { float:left;background:#aaa url(c64charset.gif) no-repeat -96px -64px scroll; width:16px; height:16px; }
.G { float:left;background:#aaa url(c64charset.gif) no-repeat -112px -64px scroll; width:16px; height:16px; }
.H { float:left;background:#aaa url(c64charset.gif) no-repeat -128px -64px scroll; width:16px; height:16px; }
.I { float:left;background:#aaa url(c64charset.gif) no-repeat -144px -64px scroll; width:16px; height:16px; }
.J { float:left;background:#aaa url(c64charset.gif) no-repeat -160px -64px scroll; width:16px; height:16px; }
.K { float:left;background:#aaa url(c64charset.gif) no-repeat -176px -64px scroll; width:16px; height:16px; }
.L { float:left;background:#aaa url(c64charset.gif) no-repeat -192px -64px scroll; width:16px; height:16px; }
.M { float:left;background:#aaa url(c64charset.gif) no-repeat -208px -64px scroll; width:16px; height:16px; }
.N { float:left;background:#aaa url(c64charset.gif) no-repeat -224px -64px scroll; width:16px; height:16px; }
.O { float:left;background:#aaa url(c64charset.gif) no-repeat -240px -64px scroll; width:16px; height:16px; }


.P { float:left;background:#aaa url(c64charset.gif) no-repeat -0px -80px scroll; width:16px; height:16px; }
.Q { float:left;background:#aaa url(c64charset.gif) no-repeat -16px -80px scroll; width:16px; height:16px; }
.R { float:left;background:#aaa url(c64charset.gif) no-repeat -32px -80px scroll; width:16px; height:16px; }
.S { float:left;background:#aaa url(c64charset.gif) no-repeat -48px -80px scroll; width:16px; height:16px; }
.T { float:left;background:#aaa url(c64charset.gif) no-repeat -64px -80px scroll; width:16px; height:16px; }
.U { float:left;background:#aaa url(c64charset.gif) no-repeat -80px -80px scroll; width:16px; height:16px; }
.V { float:left;background:#aaa url(c64charset.gif) no-repeat -96px -80px scroll; width:16px; height:16px; }
.W { float:left;background:#aaa url(c64charset.gif) no-repeat -112px -80px scroll; width:16px; height:16px; }
.X { float:left;background:#aaa url(c64charset.gif) no-repeat -128px -80px scroll; width:16px; height:16px; }
.Y { float:left;background:#aaa url(c64charset.gif) no-repeat -144px -80px scroll; width:16px; height:16px; }
.Z { float:left;background:#aaa url(c64charset.gif) no-repeat -160px -80px scroll; width:16px; height:16px; }

.a { float:left;background:#aaa url(c64charset.gif) no-repeat -16px -96px scroll; width:16px; height:16px; }
.b { float:left;background:#aaa url(c64charset.gif) no-repeat -32px -96px scroll; width:16px; height:16px; }
.c { float:left;background:#aaa url(c64charset.gif) no-repeat -48px -96px scroll; width:16px; height:16px; }
.d { float:left;background:#aaa url(c64charset.gif) no-repeat -64px -96px scroll; width:16px; height:16px; }
.e { float:left;background:#aaa url(c64charset.gif) no-repeat -80px -96px scroll; width:16px; height:16px; }
.f { float:left;background:#aaa url(c64charset.gif) no-repeat -96px -96px scroll; width:16px; height:16px; }
.g { float:left;background:#aaa url(c64charset.gif) no-repeat -112px -96px scroll; width:16px; height:16px; }
.h { float:left;background:#aaa url(c64charset.gif) no-repeat -128px -96px scroll; width:16px; height:16px; }
.i { float:left;background:#aaa url(c64charset.gif) no-repeat -144px -96px scroll; width:16px; height:16px; }
.j { float:left;background:#aaa url(c64charset.gif) no-repeat -160px -96px scroll; width:16px; height:16px; }
.k { float:left;background:#aaa url(c64charset.gif) no-repeat -176px -96px scroll; width:16px; height:16px; }
.l { float:left;background:#aaa url(c64charset.gif) no-repeat -192px -96px scroll; width:16px; height:16px; }
.m { float:left;background:#aaa url(c64charset.gif) no-repeat -208px -96px scroll; width:16px; height:16px; }
.n { float:left;background:#aaa url(c64charset.gif) no-repeat -224px -96px scroll; width:16px; height:16px; }
.o { float:left;background:#aaa url(c64charset.gif) no-repeat -240px -96px scroll; width:16px; height:16px; }


.p { float:left;background:#aaa url(c64charset.gif) no-repeat -0px -112px scroll; width:16px; height:16px; }
.q { float:left;background:#aaa url(c64charset.gif) no-repeat -16px -112px scroll; width:16px; height:16px; }
.r { float:left;background:#aaa url(c64charset.gif) no-repeat -32px -112px scroll; width:16px; height:16px; }
.s { float:left;background:#aaa url(c64charset.gif) no-repeat -48px -112px scroll; width:16px; height:16px; }
.t { float:left;background:#aaa url(c64charset.gif) no-repeat -64px -112px scroll; width:16px; height:16px; }
.u { float:left;background:#aaa url(c64charset.gif) no-repeat -80px -112px scroll; width:16px; height:16px; }
.v { float:left;background:#aaa url(c64charset.gif) no-repeat -96px -112px scroll; width:16px; height:16px; }
.w { float:left;background:#aaa url(c64charset.gif) no-repeat -112px -112px scroll; width:16px; height:16px; }
.x { float:left;background:#aaa url(c64charset.gif) no-repeat -128px -112px scroll; width:16px; height:16px; }
.y { float:left;background:#aaa url(c64charset.gif) no-repeat -144px -112px scroll; width:16px; height:16px; }
.z { float:left;background:#aaa url(c64charset.gif) no-repeat -160px -112px scroll; width:16px; height:16px; }

.n0 { float:left;background:#aaa url(c64charset.gif) no-repeat -0px -48px scroll; width:16px; height:16px; }
.n1 { float:left;background:#aaa url(c64charset.gif) no-repeat -16px -48px scroll; width:16px; height:16px; }
.n2 { float:left;background:#aaa url(c64charset.gif) no-repeat -32px -48px scroll; width:16px; height:16px; }
.n3 { float:left;background:#aaa url(c64charset.gif) no-repeat -48px -48px scroll; width:16px; height:16px; }
.n4 { float:left;background:#aaa url(c64charset.gif) no-repeat -64px -48px scroll; width:16px; height:16px; }
.n5 { float:left;background:#aaa url(c64charset.gif) no-repeat -80px -48px scroll; width:16px; height:16px; }
.n6 { float:left;background:#aaa url(c64charset.gif) no-repeat -96px -48px scroll; width:16px; height:16px; }
.n7 { float:left;background:#aaa url(c64charset.gif) no-repeat -112px -48px scroll; width:16px; height:16px; }
.n8 { float:left;background:#aaa url(c64charset.gif) no-repeat -128px -48px scroll; width:16px; height:16px; }
.n9 { float:left;background:#aaa url(c64charset.gif) no-repeat -144px -48px scroll; width:16px; height:16px; }

.colon { float:left;background:#aaa url(c64charset.gif) no-repeat -160px -48px scroll; width:16px; height:16px; }
.semicolon { float:left;background:#aaa url(c64charset.gif) no-repeat -176px -48px scroll; width:16px; height:16px; }
.equal { float:left;background:#aaa url(c64charset.gif) no-repeat -208px -48px scroll; width:16px; height:16px; }
.underscore { float:left;background:#aaa url(c64charset.gif) no-repeat -240px -80px scroll; width:16px; height:16px; }
.question { float:left;background:#aaa url(c64charset.gif) no-repeat -240px -48px scroll; width:16px; height:16px; }
.att { float:left;background:#aaa url(c64charset.gif) no-repeat -16px -32px scroll; width:16px; height:16px; }
.slash { float:left;background:#aaa url(c64charset.gif) no-repeat -240px -32px scroll; width:16px; height:16px; }
.comma { float:left;background:#aaa url(c64charset.gif) no-repeat -192px -32px scroll; width:16px; height:16px; }
.quot { float:left;background:#aaa url(c64charset.gif) no-repeat -32px -32px scroll; width:16px; height:16px; }
.dollar { float:left;background:#aaa url(c64charset.gif) no-repeat -64px -32px scroll; width:16px; height:16px; }
.singlequot { float:left;background:#aaa url(c64charset.gif) no-repeat -112px -32px scroll; width:16px; height:16px; }
.amp { float:left;background:#aaa url(c64charset.gif) no-repeat -96px -32px scroll; width:16px; height:16px; }
.percent { float:left;background:#aaa url(c64charset.gif) no-repeat -80px -32px scroll; width:16px; height:16px; }
.star { float:left;background:#aaa url(c64charset.gif) no-repeat -160px -32px scroll; width:16px; height:16px; }
.plus { float:left;background:#aaa url(c64charset.gif) no-repeat -176px -32px scroll; width:16px; height:16px; }
.space { float:left;background:#aaa url(c64charset.gif) no-repeat -0px -32px scroll; width:16px; height:16px; }
.OE { float:left;background:#aaa url(c64charset.gif) no-repeat -0px -48px scroll; width:16px; height:16px; }
.AA { float:left;background:#aaa url(c64charset.gif) no-repeat -240px -128px scroll; width:16px; height:16px; }
.dot { float:left;background:#aaa url(c64charset.gif) no-repeat -224px -32px scroll; width:16px; height:16px; }

.newline { float:none;clear:left;; }
.none { float:left; width:0px; height:0px; }


#c64background { height:400px; width:640px; background:#3931a5; }
.cont { text-align:left;margin-top:168px;width:640px; color:#7b73de; font-family: verdana; font-size:24px; font-weight:bold;}
#ursor { position:relative; top:-0px; left:-3px; color:#7b73de;background:#7b73de;width:20px;height:21px; font-size:1px;display:block}
#cursor { position:absolute; top:168px; color:#7b73de;background:#7b73de;width:16px;height:16px; font-size:1px;display:block}
kbd { float:left;displa:none; }
