h1{
    font-family:"Francois One";
    text-transform: uppercase;
    text-align: center;
    margin:10px;
    padding-bottom: 20px;
    border-bottom: 3px #337ab7 dotted;
}

.ct {
    border-bottom: 3px #337ab7 dotted;
    height: auto;
    max-width:1200px;
    margin:10px;
}

.content-text {
    text-align: justify;
    left:0;
    font-size:18px;
    margin: 10px;
}

.img-left img, .img-right img {
    width:300px;
}

.img-right img {
    margin: 10px;
    float:right;
}

.img-left img {

    margin: 10px;
    float:left;
}

.index {
    text-align: justify;
    border-radius: 25px 25px;
    border: #337ab7 1px solid;
    box-shadow: 2px 5px 2px 0px #337ab7;
    font-size:16px;
    background:rgba(0,0,0,0.02);
    max-width:1200px;
    margin: auto;
    padding: 20px;
    color:#000000;
    margin-bottom: 50px;
}

.next {
    float:right;
}

.author {
    display: inline-block;
    margin:10px;
    font-size:12px;
}

.link {
    display: inline-block;
    font-size:12px;
}

div.datetime {
    display: inline-block;
    float:right;
    margin:10px;
    font-size:12px;
}

.a-d{
    float:left;
    border-bottom: 1px #337ab7 dotted;
    width:100%;
    max-width: 1200px;
    margin:auto;
    margin-bottom: 50px;
}