.form-connexion{
}
.connexion {
    border-radius: 25px;
    border: solid #337ab7 1px;
    padding:25px;
}
.form-menu{
    padding-left:50px;
    border-left: dotted #337ab7 3px;
    height: 210px;
}
.form-menu span {
    font-size:24px;
    display:block;
    padding-bottom: 10px;
    text: normal;
}

h1 {
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
}
a {
    text-decoration: none;
}