/*
    - Stylesheet pour les articles de type test (A ajouter en complément de show_article) -
*/

/* Avis d'un testeur */

.avis {
    background-color: rgba(0,0,255,0.05);
    border-radius: 15px;
    border: 2px dashed #639ed1;
    display: block;
    line-height: 1.4em;
    padding: 5px;
    font-size:14px;
    max-width: 350px;
    text-align: justify;
}

.avis-left{
    float: left;
    margin: 10px 15px 10px 0;
}

.avis-right {
    float: right;
    margin: 10px 0 10px 15px;
}
.avis-title {
    padding-top:15px;
    font-size:20px;
    color:#C20000;
    width: 250px;
    margin-bottom:5px;
    padding-left: 10px;
}

.avis-subtitle {
    color:#C20000;
    font-size:18px;
    padding-bottom:30px;
    margin-bottom:5px;
    border-bottom: 1px dotted #639ed1;
    width: auto;
    padding-left: 10px;
}