
/*
    - Stylesheet pour les articles de base -
*/


article {
    line-height: 1.8em;
    text-align: justify;
    border-radius: 25px 25px;
    border: #337ab7 1px solid;
    box-shadow: 2px 5px 2px 0px #337ab7;
    font-size:16px;
    background:rgba(250,250,250,1);
    max-width:1200px;
    margin: auto;
    padding: 20px;
    color:#000000;
    margin-bottom: 50px;
}

.avatar {
    float: left;
    width:64px;
    height: 64px;
    margin-top: 10px;
    margin-right:10px;

}

.avatar img {
    border-radius: 25px;
    float:left;
    color:rgba(253, 130, 0, 0.100)
}

.sharing {
    float:right;
    width: 200px;
}

.sharing img {
    float:right;
    padding: 10px 0 0 10px;
}

.author {
    border-top: dotted 3px #337ab7;
    border-bottom: dotted 3px #337ab7;
    margin-bottom: 25px;
}
.author-name-datehour{
    padding: 20px 0 20px 0;
    font-family: "Francois One", arial, sans-serif;
    text-transform: uppercase;
}
.crop {
    width: 810px;
    max-width:100%;
    height: 150px;
    overflow: hidden;
}

.crop img {
    width: 1500px;
    max-width: 100%;
    height: auto;
    margin: -75px 0 0 -100px;
}
.modification {
    display:inherit;
}
.tags{
    padding: 10px 0 10px 0;
    border-top: dotted 3px #337ab7;
}
article h1{
    font-family:"Francois One";
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
}
.label{
    color:#000000;
}
article p:first-child{
    padding-top: 20px;
}

article p{
    padding-top: 10px;
}

article p:first-child::first-letter {
    float: left;
    font-size: 50px;
    font-weight: bold;
    font-family: Tahoma, Arial, sans-serif;
    color: #4682b4;
    text-align: center;
    border: 1px solid #4682b4;
    font-weight: bold;
    line-height: 1em;
    padding: 2px 15px 2px 15px;
    margin: 5px 10px 10px 0;
    box-shadow: 2px 2px 2px 2px;
}

/*
    Partie commentaire
*/

.article-commentaire {
    text-align: justify;
    border-radius: 25px 25px;
    border: #337ab7 1px solid;
    margin:auto;
    margin-bottom: 20px;
    padding: 20px;
    color:#000000;
}
.article-commentaire-title {
    border-bottom: dotted 3px #337ab7;
    font-family: "Francois One";
    font-size: 24px;
    padding-bottom: 5px;
    margin-bottom: 25px;
    display: block;
}

/* Systeme de quote */

.quoteLeft, .jaquette-float img {
    float: left;
    margin: 0 50px 35px 0;
    width:auto;
    max-width: 400px;
    box-shadow: 20px 10px 20px 2px;
}
.quoteRight {
    float: right;
    margin: 0 0 35px 50px;
    width: auto;
    max-width: 400px;
    box-shadow: -20px 10px 20px 2px;
}
.quote {
    font-style: italic;
    background-color: rgba(0,0,255,0.05);
    color: #639ed1;
    border-radius: 5px;
    border: 1px dotted #639ed1;
    display: block;
    font-size: 1.4em;
    line-height: 1.4em;
    padding: 20px;
}


/* Jeux dans Article : type news ou critique - phase de test */
h2 {
    text-shadow: 2px 2px rgba(0,0,0,0.20);
    background:rgba(0,0,255,0.05);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin:0px;
    padding:10px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Francois One", arial, sans-serif;
}
.jeux-associe{
    margin:0px;
    padding:0px;
    border-top: 1px dotted #639ed1;
    padding: 10px 0 5px 0;
    margin-bottom: 40px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: rgba(0,0,255,0.03);

}
.jaquette-float-header{
    width:125px;
}
.liens-associes-header{
    float:right;
    border-bottom: 1px solid #639ed1;
}

.jaquette-float {
    margin-left:10px;


}

.liens-associes {
    margin-left: 160px;
    border-left: 1px dotted #639ed1;
}

.liens-associes li {

    margin: 0px;
    line-height: 2.5em;
    border-bottom: 1px dotted #639ed1;
    list-style: none;
}

.liens-associes li:hover {

    background:#fff;
}
.liens-associes ul {
    padding-left:0px;
}


.liens-associes li:last-child {
    border-bottom: none;
}

h3 {
    margin:0px;
    padding:0px;
    border: 2px springgreen solid;
    font-size: 17px;
    line-height: 1.8em;
    text-transform: uppercase;
    font-family: "Francois One", arial, sans-serif;
}

.jaquette-float img {
    width:125px;
    float: left;
    width:125px;
    box-shadow: 10px 5px 10px 1px;
}