.img-dossier{
    position:relative;
    margin-bottom: -100px;
    z-index:0;
    margin-top:-20px;
    background-color: rgba(0, 0, 255, 0.9);
}
.menu-dossier{
    position:fixed;
    text-align:center;
    color:rgba(0,0,0,1);
    font-size: 24px;
    top:25%;
    left:0;
    background:rgba(250,250,250,1);
    text-transform: uppercase;
    z-index: 0;

}
.menu-dossier li{
    list-style: none;
    margin:0;
}
.menu-dossier li:before {
    list-style: none;
    content: "→ "; /* caractère UTF-8 */
}
.menu {
    border-radius: 15px;
    border: 2px solid #639ed1;
    display: block;
    line-height: 1.4em;
    padding: 5px;
    margin:20px;
    max-width: 350px;
    text-align: justify;
    background: rgba(255,255,255,0.2);
    z-index: 0;
}

.menu-title {
     padding: 5px;
     font-size:20px;
     color:#f0ad4e;
     width: 250px;
     margin:0;
     border-bottom: 1px #639ed1 dotted;
 }

.totop {
    padding: 5px;
    font-size:20px;
    color:#f0ad4e;
    width: 250px;
    margin:0;
    border-top: 1px #639ed1 dotted;
}
.title-dossier{
    position:absolute;
    text-align:center;
    color:rgba(0,0,0,1);
    top:150px;
    left:20%;
    right: 20%;
    background: rgba(255,255,255,0.1);
    text-transform: uppercase;
}

.title-dossier h4{
    float: right;
    padding-right: 20px;
}

.title-dossier .date {
    float: left;
    padding-top:10px;
    padding-left: 20px;
}

.img-dossier .title-img:before{
background-color: rgba(40,40,40,0.65);
}
